<div class="row"></div>
<div class="col-md-1"></div>
<div class="col-md-10">
  
<div ng-app="app">
<div ng-controller="companiesCtrl" ng-init="setup()">
<h1>List of companies</h1>
  Filter Companies: <input ng-model="filterQuery">
<table class="table table-bordered">
  <tr>
    <th>Id</th>
    <th ng-click="sortBy('name')">Name</th>

    <span class="sortorder" ng-show="orderAttribute === 'name'" ng-class="{reverse: reverse}"></span>

    <th ng-click="sortBy('profession')">Profession</th>

    <span class="sortorder" ng-show="orderAttribute === 'profession'" ng-class="{reverse: reverse}"></span>
    
  </tr>
  <tr ng-repeat="company in companies | filter: filterQuery | orderBy:orderAttribute:reverse">
    <td>{{company.id}}</td>
    <td>{{company.name}}</td>
    <td>{{company.profession}}</td>
  </tr>
</table>
  <tr>
  <br>
    <td>
      <input ng-model="companyName" placeholder="name of company">
    </td>
    <td>
      <input ng-model="companyProfession" placeholder="profession of company">
    </td>
    <td>
    <button ng-click="addCompany(companyName, companyProfession, companyLogo)">Add a Company</button>
    </td>
  </tr>
</div>
  
 <!--    Name: <input ng-model="company.name" ng-keyup="updateCompany(company)">
    Profession: <input ng-model="company.profession" ng-keyup="updateCompany(company)">
    Logo: <input ng-model="company.logo" ng-keyup="updateCompany(company)">
    <p><button ng-click="deleteCompany(company, $index)">Delete a Company</button></p> -->
</div>

</div>
</div>